<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1047961456245-p8fj0m0o5t5h3pnho32rrl9c6hlj8u0n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1047961456245-p8fj0m0o5t5h3pnho32rrl9c6hlj8u0n</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1047961456245-65164crs9b6ph7qvon6oj04181du5h5o.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAl04u_ZQROajC1wfrOSsX-YEoGxKZLBPY</string>
	<key>GCM_SENDER_ID</key>
	<string>1047961456245</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.jungle</string>
	<key>PROJECT_ID</key>
	<string>jungle-2a886</string>
	<key>STORAGE_BUCKET</key>
	<string>jungle-2a886.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1047961456245:ios:78c104a7c2fb34a25d723c</string>
</dict>
</plist>